<!DOCTYPE html>
<head>
	<title><%- site.title %> &mdash; <%- page.title %></title>
	<%- snippet('headerStuff') %>
</head>

<body class="<%- page.bodyClass %>">

	<header>
		<h1>
			<!-- how to use conditionals -->
			<% if (page.isHome) { ?><a><% } %>
				Site Title
			<% if (page.isHome) { ?></a><% } %>
		</h1>
	</header>