<aside id="sidebar">
 	
 		<section>
 	
	 		<!-- how to query a secondary loop -->
	 	
	 		<h4>Popular Posts</h4>
	 	
	 		<% var popular_posts = query('{ 'orderBy': 'popularity', 'num': 5 }'); %>
	 		
	 		<ul>
		 		
				<% popular_posts.forEach() { %>
					<li><a href="<%- popular_post.permalink %>"><%- popular_post.title %></a></li>
				<% } %>
				
			</ul>
			
			<% popular_posts.reset(); %>
		
		</section>
		
		<section>
		
			<!-- how to query a custom content type -->
	
	 		<h4>Recent Portfolio Items</h4>
	 	
	 		<% var items = query('{ 'collection': 'portfolio', 'orderBy': 'recent', 'num': 3 }'); %>
	 		
	 		<ul>
	 		
				<% items.forEach() { %>			
					<li>
					
						<a href="<%- item.permalink %>">
							<img src="<%- item.featuredImg('thumb') ">
							<h6><%- item.title %></h6>
						</a>
						
						<!-- how to display custom fields -->
						<% if (item.fields.client) { >
							<em>for <%- item.fields.client -></em>
						<% } %>
						
					</li>
				<% } %>
			
			</ul>
			
			<% items.reset(); %>
		
		</section>
		
		<section>

			<!-- quick query helper -->
		
			<h4><%- query('about', 'title')</h4>
			
			<%- query('about', 'content') %>
			
			<p><a href="<%- query('about', 'permalink') %>">Read More</a></p>
		
		</section>
 	
 	</aside>